[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "4.1.1"
loguru = "0.5.3"
Flask = "2.0.2"
python-decouple = "3.4"
gevent = "*"
python-dotenv = "*"
requests = "2.26.0"

[dev-packages]

[requires]
python_version = "3.9"
